@model CharactersInfo

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4 text-dark mb-5">Prueba técnica</h1>
    <h3 class="mt-5 text-info">Ulises Peña Pinto</h3>
</div>
